# MODE (0:On/Off - 1:PWM)
FAN_MODE=0
# GPIO pins
FAN_PIN=18
ALARM_PIN=0	# 0 to deactivate
# CPU Temperature levels
TEMP_V1=45
TEMP_V2=52	# used for MODE 0
TEMP_V3=60
TEMP_ALARM=75
# Hysteresis
HYST=3
# Fan's PWM values for each level (for MODE 1)
PWM_V1=512
PWM_V2=768
PWM_V3=1024
