# WiringPi's pins
FAN_PIN=1
ALARM_PIN=2
# CPU Temperature levels
TEMP_V1=41
TEMP_V2=50
TEMP_V3=60
TEMP_ALARM=70
# Hysteresis
HYST=1
# Fan's PWM values for each level
PWM_V1=512
PWM_V2=768
PWM_V3=1024
