[Unit]
Description=Suivi de la température CPU et gestion du ventilateur
After=multi-user.target

[Service]
ExecStart=/bin/bash -c '/usr/local/bin/fancontrol -d -S'
ExecStop=/bin/bash -c '/usr/local/bin/fancontrol -s'
ExecReload=/bin/bash -c '/usr/local/bin/fancontrol -r'

[Install]
WantedBy=default.target
